a.title-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  font-size: 20px;
  color: initial;
}

.stories-container {
  padding: 5px;
  display: table;
  width: 100%;
}

.story-card {
  border: ridge;
  display: table-row;
  height: 100px;
  padding: 2px;
}

.card-img-top {
  width: 522px;
  display: table-cell;
}

.card-body {
  margin-left: 50%;
  display: table-cell;
  vertical-align: middle;
}